/*------------------------------
	MAIN
------------------------------*/
body {
    font-family: 'font', sans-serif;
    padding-top: 30px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro';
}

a {
    color: #fff;
}

a:focus, a:hover {
    outline: 0 none;
    text-decoration: none;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}

p {
    font-family: 'Source Sans Pro';
    color: #fff;
    font-weight: 300;
    font-size: 24px;
}

h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 600;
}

h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 100;
}

.btn {
    font-family: 'Source Sans Pro';
    color: #fff;
    font-size: 16px;
}

.btn-primary {
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid #fff;
}

/*------------------------------
	CONTENT
------------------------------*/
#text {
    text-align: center;
    padding: 0 0 50px 0;
}

.highlight {
    font-family: 'MuseoSans-700', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 600;
}

.line {
    display: block;
    margin: 28px 0;
    position: relative;
    text-align: center;
}

.line h3 {
    color: #fff;
    font-weight: 100;
    font-size: 40px;
}

.line:before, .line:after {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(255, 255, 255, .9);
    content: '';
    height: 1px;
    max-width: 400px;
    position: absolute;
    top: 25px;
    width: 45%;
}

.line:before {
    left: 0;
}

.line:after {
    right: 0;
}

/*------------------------------
	MEDIUM DEVICES
------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
    .line:before, .line:after {
        max-width: 300px;
    }
}

/*------------------------------
	SMALL DEVICES
------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
    .line:before, .line:after {
        max-width: 200px;
    }
}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {
    .line:before, .line:after {
        max-width: 200px;
    }

    .text {
        padding: 0 0 0 0;
    }

    .btn-primary:hover {
        -webkit-transition-duration: 1s;
           -moz-transition-duration: 1s;
             -o-transition-duration: 1s;
                transition-duration: 1s;
        background-color: transparent;
        border: 1px solid #fff;
    }
}

/*------------------------------
	Phones with 600px width
------------------------------*/
@media (max-width: 600px) {
    .line:before, .line:after {
        max-width: 110px;
    }
}

/*------------------------------
	Phones with 548px width
------------------------------*/
@media (max-width: 548px) {
    .line:before, .line:after {
        max-width: 90px;
    }
}

/*------------------------------
	Phones with 480px width
------------------------------*/
@media (min-width: 321px) and (max-width: 480px) {
    .line:before, .line:after {
        height: 0;
    }

    .text {
        padding: 0 0 0 0;
    }

    .btn-primary:hover {
        -webkit-transition-duration: 1s;
           -moz-transition-duration: 1s;
             -o-transition-duration: 1s;
                transition-duration: 1s;
        background-color: transparent;
        border: 1px solid #fff;
    }
}

/*------------------------------
	Phones with 320px width
------------------------------*/
@media (max-width: 320px) {
    .text {
        padding: 0 0 0 0;
    }

    .btn-primary:hover {
        -webkit-transition-duration: 1s;
           -moz-transition-duration: 1s;
             -o-transition-duration: 1s;
                transition-duration: 1s;
        background-color: transparent;
        border: 1px solid #fff;
    }

    .line:before, .line:after {
        height: 0;
    }
}