body {
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-weight: 400;
}

/*
 * Login page
 */
.signin-container {
    padding-bottom: 20px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

.form-signin .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 20px;
}

.form-signin .form-control {
    font-size: 16px;
    position: relative;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type='text'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0 20px 0;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.login-title {
    font-size: 18px;
    font-weight: 400;
    display: block;
    color: #555;
}

.profile-img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

/*
 * Cards for Global admin page
 */
.card-panel {
    margin-top: 60px;
}

.card-panel .card {
    display: block;
    padding-bottom: 20px;
}

.card-panel .card .card-title {
    display: block;
    padding: 5px;
    background-color: #2c343b;
}

.card-panel .card .card-title p.card-title-text {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    color: #fff;
}

.card-panel .card .card-body {
    display: block;
    min-height: 165px;
    background-color: #c44741;
}

.card-panel .card .card-body p.card-body-text {
    font-size: xx-large;
    line-height: 165px;
    text-align: center;
    color: #fff;
}

/*
 * Dashboard page style
 */
.dashboard-container {
    margin-top: 50px;
}

.navbar-brand {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.navbar-default {
    background-color: #fff;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1000;
        top: 51px;
        bottom: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
        background: #fff url(../img/bg-panel.png);
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > h4 {
    padding-left: 10px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */
.main-content {
    padding-top: 20px;
}

@media (min-width: 768px) {
    .main-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.main-content .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Footer
 */
.bs-docs-footer {
    /*
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.bs-docs-footer-links {
    margin-top: 10px;
    padding-left: 0;
    color: #999;
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px;
}

.bs-docs-footer-links li:first-child {
    padding-left: 0;
}

@media (min-width: 768px) {
    .bs-docs-footer p {
        margin-bottom: 0;
    }
}
